@model _540GPWorkingBuild.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Category</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1)
        </dd>

        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<br />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
&nbsp