
@model IEnumerable<_540GPWorkingBuild.Models.Inventory>

@{
    ViewBag.Title = "Search";
}

<h3>
    Product Lookup
</h3>
<div>
    <p>

    </p>
</div>

@using (Html.BeginForm("Search", "Inventories", FormMethod.Get))
{

    //the following are search options
    <b>Search Option: </b>
    @Html.RadioButton("option", "ID")<text>&nbspProduct ID</text>
    @Html.RadioButton("option", "Name") <text>&nbspName</text>
    @Html.RadioButton("option", "Description")<text>&nbspDescription</text>
    @Html.RadioButton("option", "Category")<text>&nbspCategory</text>
    @Html.TextBox("search")
    <input type="submit"
           name="submit"
           value="Search" />
}
<div>

</div>
<div>

</div>
<div>
    <p>
        Search by Name/Description will pull results for partial matches.
    </p>
</div>
<div>
    <p>
        Search by ID will pull results for deleted products.
    </p>
</div>

<div>
</div>

<div>
    <b>
        @if (!(Model.Any()))
        {@Html.Name("No search results")}
    </b>
</div>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Net Price
        </th>
        <th>
            Sale Price
        </th>
        <th>
            Qty. On Hand
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
<a href="~/Inventories/Products" class="btn btn-info">Return to Product Management</a>
